<div class="container">
  <div class="list-group">
    <a href="/faq" class="list-group-item">
      <h4 class="list-group-item-heading">Are my coversations private?</h4>
      <p class="list-group-item-text">All of your personal information including your identity and your conversations will be kept private. The few exceptions to this are as follows: If you or someone else is in immediate danger, or a vulnerable person is being abused(child, elderly, etc.) </p>
    </a>
    <a href="#" class="list-group-item">
      <h4 class="list-group-item-heading">Who will be my therapist?</h4>
      <p class="list-group-item-text">Your therapist will be assigned to you based on your needs and the therapists availability. If at any time you would like to switch therapists, then email support or let your therapist know and we will take care of it immediately.</p>
    </a>
  </div>
</div>
